<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
            <div class="form-group">
                <label for="name"> Nom du service</label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div> 
            <div class="form-group">
                <label for="personne-name" > Nom de l'aide</label>
                <input type="text" id="personne-name" class="form-control" name="personne-name" ngModel required>
            </div>
            <div class="form-group">
                <label for="lieu"> Ou se passe le service ?</label>
                <input type="text" id="lieu" class="form-control" name="lieu" ngModel required>
            </div>
            <div class="form-group">
                <label for="description">Donnez une description detaille du service demamdee</label>
                <input type="text" id="description" class="form-control" name="description" ngMode requiredl>
            </div>
            <div class="form-group">
                <label for="fin-service">Donnez une date limite a votre demande de service</label>
                <input type="text" id="fin-service" class="form-control" name="fin-service" ngModel required>
            </div>
            <div class="form-group">
                <label for="importance">importance du service</label>
                <select  id="importance" class="form-control" name="importance" [ngModel]="defaultOnOff" required>
                    <option value="attendre"> Ca peut attrendre</option>
                    <option value="besoin "> J'en ai besoin assez rapidement</option>
                    <option value="urgent">A faire le plus vite possible</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid"> Enregistrer la demande</button>
        </form>
    </div>
</div>